<script>_showOceanSlice = true;_disableStartLerp=true;_guest=true;</script>
<div id="background"></div>
<div id="varyingContents">
    <a href="https://hackclub.com" id="hackclub-flag"><img src="https://assets.hackclub.com/flag-orpheus-top.svg"></a>
    <div style="position: absolute;width:100%"><img id="logo" src="<%= asset_path("graphics/logo.svg") %>" alt="Out To C"></div>
    <%= image_tag "graphics/scroll.svg", id: "scroll-indicator" %>
    <a class="linkbutton sign-in" href="https://hackatime.hackclub.com/oauth/authorize?client_id=<%= ENV["HACKATIME_UID"] %>&redirect_uri=<%= CGI.escape(auth_callback_url) %>&response_type=code&scope=profile+read"
        title="RSVP form :O">Sign in with Hack Club</a>

    <% if Rails.env.development? %>
    <div class="devlogin">
        <span>Dev login:</span>
        <form action="/auth/dev">
            <input name="uid" type="text" placeholder="Enter UID for user">
        </form>
    </div>
    <% end %>

    <div class="ocean-gradient"></div>
    <div class="spacer"></div>
    <!-- text contents! -->
    <div class="container">
        <div class="centered">
        <main>
            <h1>Out To C</h1>
            <p>Voyage out to sea on the hunt for treasure! You write projects in C or C++, and while you work,
            your ship travels further and further. On the way, there's islands with treasure chests!</p>
        </main>
        <div class="card-holder">
            <%= image_tag("graphics/card1.svg") %>
            <%= image_tag("graphics/card2.svg") %>
            <%= image_tag("graphics/card3.svg") %>
        </div>
        <div class="map-holder">
            <div style="background-color: red;width: var(--w_factor);height: var(--w_factor);"></div>
            <div class="map-marker" id="map-marker-1">
            <div>
                <div>
                (Choose 1)
                <div class="spread">
                    <%= image_tag("prices/blahaj.png") %>
                    <%= image_tag("prices/pinecil.png") %>
                    <%= image_tag("prices/pizero2w.png") %>
                </div>
                </div>
            </div>
            </div>
            <div class="map-marker" id="map-marker-2">
            <div>
                <div>(Choose 1)
                <div class="spread">
                    <%= image_tag("prices/pipico.png") %>
                    <%= image_tag("prices/pico8.png") %>
                    <%= image_tag("prices/cloudflare.png") %>
                </div>
                </div>
            </div>
            </div>
            <div class="map-marker" id="map-marker-3">
            <div>
                <div>(Choose 1)
                <div class="spread">
                    <%= image_tag("prices/hm1.png") %>
                    <%= image_tag("prices/hm2.png") %>
                    <%= image_tag("prices/hm3.png") %>
                </div>
                </div>
            </div>
            </div>
            <%= image_tag "graphics/map.svg", id: "map" %>
        </div>
        <h1>More information</h1>
        <p>There's several smaller islands with treasure along the way, and one extra big treasure island at the end!
            However, you can "ship" your project at any time, meaning to publish/release it, at which point you receive
            all
            the treasure you've gotten so far. You can also continue working more hours after the big treasure island,
            with
            more prizes to be defined.</p>
        <p>This YSWS has been accepted and will run sometime through June and July. The end prizes are also
            not final and will depend heavily on how much budget we are allocated.</p>
        <span>Interested? Join the channel <a class="channel-link"
            href="https://hackclub.enterprise.slack.com/archives/C0ANHQPT1S4">#out-to-c</a></span>

        <div class="bottom">
            <p>Made by <a class="channel-link" target="_blank"
                href="https://hackclub.enterprise.slack.com/team/U098P9DLUGJ">@iris</a> • <a class="channel-link"
                target="_blank" href="https://github.com/ingobeans/out-to-c">Github Repo</a></p>
        </div>
        </div>
    </div>
</div>