<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Out To C" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Out To C">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <meta property="description"
      content="A draft YSWS where you sail out to sea on the hunt for treasure, by coding C! If you've ever wanted to learn low-level or to own a Blåhaj, you should totally RSVP!!" />
    <meta property="og:site_name" content="Out to C" />
    <meta property="og:title" content="Out to C" />
    <meta property="og:description"
      content="A draft YSWS where you sail out to sea on the hunt for treasure, by coding C! If you've ever wanted to learn low-level or to own a Blåhaj, you should totally RSVP!!" />
    <meta property="og:image" content="https://ingobeans.github.io/out-to-c/banner.png" />
    <meta property="og:type" content="article" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <% if Rails.env.development? %>
      <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.183.2/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.183.2/examples/jsm/"
          }
        }
      </script>
    <% end%>
  </head>

  <body>
    <div id="notice" <% if notice == nil %> style="display: none;"<% end %>><span><%= notice %></span><button onclick="this.parentElement.style.display = 'none';">X</button></div>
    <%= yield %>
    <% if Rails.env.development? %>
      <script type="module" src="<%= asset_path "main.js" %>"></script>
    <% else %>
      <script type="module" src="<%= asset_path "min.js" %>"></script>
    <% end %>
    <% if session[:user_id] != nil %>
      <script src="<%= asset_path "runtime.js" %>"></script>
    <% end %>
  </body>
</html>
